<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Left side column. contains the logo and sidebar -->
 <aside class="main-sidebar" th:fragment="sidebar">
   <!-- sidebar-->
   <section class="sidebar">
      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree" id="sideTree">
        <li class="user-profile treeview">
          <a href="/" th:href="@{/}">
			<img src="/images/avatar/7.jpg" th:src="@{/images/avatar/7.jpg}" alt="user">
              <span>
				<span class="d-block font-weight-600 font-size-16" sec:authentication="name">Bob</span>
			  </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
		  <ul class="treeview-menu">
            <li><a th:href="@{#}"><i class="fa fa-user mr-5"></i>Perfil</a></li>
 		  	<li><a th:href="@{#}"><i class="fa fa-cog mr-5"></i>Configuracoes</a></li>
      		<li><a th:href="@{/logout}"><i class="fa fa-power-off mr-5"></i>Sair</a></li>
      		<!-- (__${_csrf.parameterName}__=${_csrf.token}) -->
			<!-- <li>
				<form action="/logout" method="post">
		        		<a><input type="submit"><i class="fa fa-power-off mr-5"></i>Logout</a>
		        		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		      	</form>
	      	</li> -->
          </ul>
        </li>
        
        <li class="header nav-small-cap"><i class="mdi mdi-drag-horizontal mr-5"></i>GERENCIA</li>
		<li class="treeview">
          <a th:href="@{#}" id="/atendimento/">
            <i class="mdi mdi-receipt"></i>
            <span>Atendimentos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/atendimento/inicioAtendimento}"><i class="mdi mdi-toggle-switch-off"></i>Novo Atendimento</a></li>
            <li><a th:href="@{/atendimento/visualizarAtendimentos}"><i class="mdi mdi-toggle-switch-off"></i>Visualizar Atendimentos</a></li>
          </ul>
        </li>  
		<li class="treeview">
          <a th:href="@{#}" id="/paciente/">
            <i class="fa fa-users"></i>
            <span>Pacientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <!-- <li><a th:href="@{/}"><i class="mdi mdi-toggle-switch-off"></i>Cadastrar Paciente</a></li> -->
            <li><a th:href="@{/paciente/visualizarPacientes}"><i class="mdi mdi-toggle-switch-off"></i>Visualizar Pacientes</a></li>
          </ul>
        </li>  
       	<li class="treeview">
          <a th:href="@{#}" id="/estatistica/">
            <i class="mdi mdi-chart-bar"></i>
            <span>Estatisticas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/estatistica/graficos}"><i class="mdi mdi-toggle-switch-off"></i>Graficos</a></li>
          </ul>
        </li>
      </ul>
      <script th:src="@{/assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js}"></script>
      <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
	      $(function(){
	    	    var current = location.pathname;
	    	    console.log(current)
	    	    $('#sideTree li a').each(function(){
	    	        var $this = $(this);
	    	        // if the current path is like this link, make it active
	    	        console.log($this.attr("href"))
	    	        if($this.attr("id") !== undefined) {
	    	        	if(current.indexOf($this.attr("id")) !== -1){
		    	            $this.parent('li').addClass('active');
		    	        }
	    	        }
	    	    });
	    	});
      });
      </script>
</section>
</aside>