<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/estilos :: head">
<meta charset="utf-8">
</head>

<body class="hold-transition skin-blue fixed sidebar-mini">
	<header th:replace="fragments/headerBar :: headerBar"></header>
	<aside th:replace="fragments/sidebar :: sidebar">...</aside>
	<div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Atendimento</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i
										class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Novo Atendimento</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	<!-- Main content -->
    <section class="content">
     
     <!-- Basic Forms -->
      <div class="box">
        <div class="box-header with-border">
          <h4 class="box-title">Cadastro</h4>
          <h6 class="box-subtitle">Busque um paciente ou cadastre um novo</h6>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col">
            	<form novalidate method="post" th:action="@{/atendimento/inicioAtendimento}" th:object="${pacienteForm}">
				  <div class="row">
					<div class="col-12">		
						<div class="form-group">
							<h5>CPF <span class="text-danger">*</span></h5>
							<div class="controls">
								<input type="text" th:field="*{cpf}" name="cpf" class="form-control" data-validation-containsnumber-regex="(\d)+" data-validation-containsnumber-message="Apenas numero sao permitidos" required data-validation-required-message="Campo obrigatorio"> </div>
						</div>
        			</div>
        		  </div>
					<div class="text-xs-right">
						<button type="submit" class="btn btn-info">Enviar</button>
					</div>
				</form>
            	
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      
    </section>
    <!-- /.content -->
	</div>
	<span th:insert="fragments/controlSidebar"></span>
	<span th:insert="fragments/estilos :: scripts"></span>
</body>

</html>